@import "tailwindcss";

:root {
  /* Brand */
  --color-brand-primary: #2E75D1;
  --color-brand-secondary: #8CB3E6;

  /* Icons - Light */
  --color-icon-primary: #535E6D;
  --color-icon-secondary: #798799;
  --color-icon-disabled: #82878C;
  --color-icon-error: #A21515;
  --color-icon-light: #F5F5F5;

  /* Alerts */
  --color-alert-fatal: #B20000;
  --color-alert-critical: #E22A11;
  --color-alert-major: #FB8C00;
  --color-alert-minor: #FDD835;
  --color-alert-degraded: #00ACC1;
  --color-alert-info: #417ABB;
  --color-alert-other: #B17F35;
  --color-alert-unknown: #8E24AA;
  --color-alert-normal: #43A047;

  /* Typography */
  --font-h1: 400 2.75em/1.2 'Noto Sans', sans-serif;
  --font-h2: 400 2.25em/1.24 'Noto Sans', sans-serif;
  --font-h3: 400 1.75em/1.24 'Noto Sans', sans-serif;
  --font-h4: 400 1.50em/1.32 'Noto Sans', sans-serif;
  --font-h5: 700 1.25em/1.32 'Noto Sans', sans-serif;
  --font-h6: 700 1em/1.36 'Noto Sans', sans-serif;
  --font-body1: 400 1em/1.48 'Noto Sans', sans-serif;
  --font-body2: 400 0.875em/1.4 'Noto Sans', sans-serif;
  --font-body3: 400 0.8125em/1.2 'Noto Sans', sans-serif;

  font-family: 'Noto Sans', sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --color-brand-primary: #8CB3E6;
  --color-brand-secondary: #2E75D1;
  --color-icon-primary: #E0E3E8;
  --color-icon-secondary: #9C9FA3;
  --color-icon-disabled: #82878C;
  --color-icon-error: #EC6969;
  --color-icon-light: #52575E;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
